## Deliverable 2. Create a Customer Travel Destinations Map.

In [20]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Oistins,BB,13.0667,-59.5333,80.69,74,40,19.57,scattered clouds
1,1,Okha,RU,53.5739,142.9478,63.72,70,28,13.69,scattered clouds
2,2,Williston,US,48.1470,-103.6180,66.31,57,7,5.39,clear sky
3,3,Yellowknife,CA,62.4560,-114.3525,66.72,63,75,11.99,broken clouds
4,4,Huntsville,US,34.7304,-86.5861,84.45,71,0,10.00,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 95

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_unf_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_unf_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Oistins,BB,13.0667,-59.5333,80.69,74,40,19.57,scattered clouds
4,4,Huntsville,US,34.7304,-86.5861,84.45,71,0,10.00,clear sky
5,5,San Patricio,US,28.0170,-97.5169,85.89,72,3,13.02,clear sky
18,18,Sweetwater,US,25.7634,-80.3731,84.22,82,75,8.05,broken clouds
21,21,Butaritari,KI,3.0707,172.7902,81.84,78,11,12.53,light rain
22,22,Nokha,IN,27.6000,73.4167,83.26,76,83,16.22,broken clouds
25,25,Mitsamiouli,KM,-11.3847,43.2844,75.49,64,20,8.05,few clouds
26,26,Kailua,US,21.4022,-157.7394,84.18,68,0,9.22,clear sky
29,29,Victoria,HK,22.2855,114.1577,92.25,71,0,5.01,clear sky
31,31,Bikin,RU,46.8161,134.2600,89.08,51,55,4.68,light rain

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_unf_df.count()

City_ID                266
City                   266
Country                266
Lat                    266
Lng                    266
Max Temp               266
Humidity               266
Cloudiness             266
Wind Speed             266
Current Description    266
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_unf_df.dropna()

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Oistins,BB,80.69,scattered clouds,13.0667,-59.5333,
4,Huntsville,US,84.45,clear sky,34.7304,-86.5861,
5,San Patricio,US,85.89,clear sky,28.0170,-97.5169,
18,Sweetwater,US,84.22,broken clouds,25.7634,-80.3731,
21,Butaritari,KI,81.84,light rain,3.0707,172.7902,
22,Nokha,IN,83.26,broken clouds,27.6000,73.4167,
25,Mitsamiouli,KM,75.49,few clouds,-11.3847,43.2844,
26,Kailua,US,84.18,clear sky,21.4022,-157.7394,
29,Victoria,HK,92.25,clear sky,22.2855,114.1577,
31,Bikin,RU,89.08,light rain,46.8161,134.2600,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
     # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"   
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"    

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()  
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [31]:
# 7. Drop the rows where there is no Hotel Name.
    # replace blank strings with NaN
hotel_df["Hotel Name"].replace("",np.nan, inplace=True)
    # create clean_hotel_df by dropping null hotel rows
clean_hotel_df=hotel_df.dropna()

In [32]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [42]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [43]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))